asgiref==3.11.1
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cssselect2==0.9.0
Django==6.0.2
dotenv==0.9.9
fonttools==4.61.1
gunicorn==25.1.0
idna==3.11
packaging==26.0
paydunya==1.0.7
pillow==12.1.1
psycopg2-binary==2.9.11
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dotenv==1.2.1
reportlab==4.4.10
requests==2.32.5
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2025.3
urllib3==2.6.3
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
