{% extends "dashboard/base_dashboard.html" %}

{% block content %}
<div class="container py-4">
    <h2>Bien etre</h2>

    <a href="{% url 'dashboard:feature_create1' %}" class="btn btn-success mb-3">
        + Ajouter
    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Icône</th>
                <th>Ordre</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for feature in features1 %}
            <tr>
                <td>{{ feature.title }}</td>
                <td><i class="{{ feature.icon_class }}"></i></td>
                <td>{{ feature1.order }}</td>
                <td>
                    {% if feature.is_active %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'dashboard:feature_update1' feature.pk %}" class="btn btn-sm btn-primary">Modifier</a>
                    <a href="{% url 'dashboard:feature_delete1' feature.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}